# =============================================
# FICHIER .env.example — NE PAS RENOMMER EN .env
# Copiez ce fichier en .env et renseignez les valeurs
# Le fichier .env est dans .gitignore
# =============================================

# PostgreSQL (base de données hospitalière)
POSTGRES_USER=hospital_admin
POSTGRES_PASSWORD=changeme_password_fort
POSTGRES_DB=hospital_gold
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Base Airflow (metadata)
AIRFLOW_DB=airflow_metadata

# Chemins de données (dans le container)
DATA_PATH=/opt/airflow/data
BRONZE_PATH=/opt/airflow/data/bronze
SILVER_PATH=/opt/airflow/data/silver
GOLD_PATH=/opt/airflow/data/gold
QUARANTINE_PATH=/opt/airflow/data/quarantine

# Spark
SPARK_MASTER=local[*]
SPARK_DRIVER_MEMORY=2g
